MONGO_URI=memoria
MONGO_DB=logismart_pruebas

# Clúster del profe:
# MONGO_USER=tu_usuario
# MONGO_PASSWORD=tu_password
# MONGO_CLUSTER=utvt.qqqotrr.mongodb.net
# MONGO_DB=efren

OLLAMA_MODEL=llama3.2
